$transparent-background: transparent;
$default-color: #434A54;
$valencia: #DA4453;
$scooter: #3BAFDA;
$placeholder-color: #AAB2BD;
$page-background: #cdcdcd;
$light-gray: #F5F7FA;
$medium-gray: #CCD1D9;
$dark-gray: #CDCDCD;
$white: #ffffff;
$green: #008000;
$light-green: #8CC152;
$main-display-background: #f8fcdc;
$border-color: #A9A9A9;
