$desktop-break-point: 1025px;
$width_900: 900px;
$width_899: 899px;
$width_768: 768px;
$width_767: 767px;
// header footer
$height-header-small: 36*1.3px;
//$height-header-large: 60*1.3px;
$height-header-large: 55px;
$padding-header-small: 1vh;
$padding-header-large: 2vh;
$height-header-img-small: 15px;
$height-header-img-large: 20px;
$page-max-width: 1498px;

