@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    src: local('Ubuntu'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntuMedium';
    src: url('../fonts/Ubuntu-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    src: local('ubuntuMedium'), url('../fonts/Ubuntu-Medium.ttf') format('truetype');
}

$default-font: "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
//$default-font: ubuntu, sans-serif;
$default-darker-font: ubuntuMedium, sans-serif;

$default-font-size: 16px;
$font-size-button-small: 18px;
$font-size-button-large: 24px;
$font-size-label-small: 20px;
$font-size-label-large: 24px;


