.progress-modal {
    .modal-footer:before, .modal-footer:after {
        content: none;
    }

    .modal-footer {
        padding: 2vh;
    }

    button {
        min-width: 7em;
    }

    ul {
        max-height:300px;
        overflow-y:auto ;
        text-align:left;
        font-size:14px;
    }

    ul li:first-child {
        padding-top:10px;
        font-weight: bold;
        font-style: italic;
    }
}
